pholi
*.o
*/*.o
logic/selector.h
logic/selector.cpp
logic/type.h
logic/type.cpp
logic/term.h
logic/term.cpp
logic/belief.h
logic/belief.cpp

parsing/symbol.h
parsing/symbol.cpp
parsing/parser.h
parsing/parser.cpp

calc/selector.h
calc/selector.cpp
calc/extension.h
calc/extension.cpp
calc/proofterm.h
calc/proofterm.cpp
Makefile

